<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stefany</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="styles.css">

</head>
<body>
    <header>
        <div class="wrapper">
            <div class="logo">
                <img src="assets/mangrove-icon.png">
                <a> Mangrove </a>
            </div>
            <div class="menu">
                <ul>
                    <li>
                        <a href="#branda"> Branda</a>
                    </li>
                    <li>
                        <a href="#mangrove"> Mangrove</a>
                    </li>
                    <li>
                        <a href="#pelestarian"> Pelestarian</a>
                    </li>
                    <li><a href="#contact" class="tbl-biru">Contact</a></li>
                </ul>
            </div>
        </div>
    </header>

    <main>
        <section id="branda">
            <div class="branda">
                <div class="kolom">
                    <aside>
                    <article>
                        <div class="left-content">
                        <p class="deskripsi"> Mangrove </p>
                        <p> Mangrove adalah jenis tanaman dikotil yang hidup di habitat air payau dan air laut. Mangrove merupakan tanaman hasil
                        dari kegiatan budidaya atau diambil dari alam. Ciri-ciri tanaman bakau ini adalah hidup dengan berkelompok dalam jumlah
                        yang banyak, memiliki akar yang besar dan memiliki buah. Di pantai banyak para petani menanam tanaman bakau, karena
                        manfaatnya yang banyak bagi kelangsungan pantai ditempatnya. </p>
                        <p>
                            <br>
                        </p>
                        <ol type="A">
                            <li>
                                <h3>
                                    Avicennia <br>
                                </h3>
                                <h5>
                                    Indonesia dikenal dengan nama api-api, dimana dicirikan dengan perakaran yang berbentuk pinsil menonjol dari permukaan
                                    air yang berfungsi sebagai akar nafas.
                                    Di Indonesia dikenal 5 (lima) jenis api api, yaitu <i> A. alba, A. eucalyptifolia, A. lanata, A. marina, dan A.
                                    officinalis.</i> Mangrove ini dibedakan dari Bruguiera dari bentuk bunga, buah serta daunnya.
                                </h5>
                            </li>
                            <li>
                                <h3> Bruguiera <br></h3>
                                <h5>
                                Tanaman Bruguiera dicirikan dengan akar lutut atau papan/banir. Di Indonesia dikenal 6 (enam) jenis tanaman ini, yaitu <i>B. cylindryca, B. exaristata, B. gymnorrhiza, B. haenessii, B.parviflora, dan B. sexangula.</i>
                                </h5>
                            </li>
                            <li>
                                <h3> Ceriops <br></h3>
                                <h5>
                                    Ceriops merupakan vegetasi mangrove yang dicirikan dengan akar pensil dengan buah memanjang, dimana di Indonesia sering
                                    dijumpai 2 (dua) jenis yaitu C. decandra dan C. tagal.
                                </h5>
                            </li>
                            <li>
                                <h3> Rhizophora <br></h3>
                                <h5>
                                Jenis ini sangat dicirikan dengan bentuk perakaran yang menghunjam ke tanah atau dikenal dengan akar tunjang <i>(still root).</i> Akar tunjang merupakan akar yang tumbuh di atas permukaan tanah. Akar ini mencuat dari batang pohon dan
                                dahan paling bawah serta memanjang ke luar dan menuju ke permukaan tanah. Sering dijumpai 3 (tiga) jenis dari Rhizophora di ekosistem mangrove di Indonesia, yaitu <i>R. apiculata, R. mucronata, dan R. stylosa.</i> Untuk membedakan jenis jenis dalam genus Rhizophora jika sedang berbuah dapat dengan mudah dikenali dari jumlah bunga dalam rangkaian bunganya. Jika dalam rangkaian bunga terdapat hanya 2 bunga maka dapat
                                dipastikan merupakan jenis<i>R. apiculata </i>, sedangkan jika dalam rangkaian bunga dijumpai 4-8 bunga jenis <i>R. mucronata </i>, sedangkan jika dalam rangkaian bunga dijumpai 9-16 bunga maka dari jenis <i>R. stylosa </i>.
                                </h5>
                            </li>
                            <li>
                                <h3> Sonneratia <br></h3>
                                <h5>
                                    Sonneratia dikenal umum dengan nama pedada dengan sistem perakaran umumnya berbentuk pinsil (pneumatophora) dan
                                    dibedakan dari Avicennia dari bentuk bunga, buah dan bentuk daun. Di Indonesia umum dijumpai 3 (tiga) jenis, yaitu <i>S.
                                    alba, S. caseolaris, dan S. ovata.</i>
                                </h5>
                            </li>
                        </ol>
                        </div>
                    </article>

                    <aside>
                        <div class="right-content">
                        <article>
                            <section id="profil">
                                <img src="assets/stefany.png">
                                <div class="info">
                                    <p class="deskripsi"> PROFIL </p>
                                    <p><br></p>
                                    <h3> Nama</h3>
                                    <a>Stefany Mariyori</a>
                                    <p><br></p>
                                    <h3> Domisili </h3>
                                    <a>DKI Jakarta</a>
                                    <p><br></p>
                                    <h3> Asal </h3>
                                    <a>Universitas Pendidikan Indonesia</a>
                                    <p><br></p>
                                    <h3> Bangkit Class </h3>
                                    <a>CC-57</a>
                                    <p><br></p>
                                    <h3> E-Mail Bangkit </h3>
                                    <a>C309DSY2785@bangkit.academy</a>
                                    <p><br></p>
                                    <p><br></p>
                                    <p><br></p>
                                    <p><br></p>
                                    <a href="assets/CV_Stefany Mariyori.pdf" class="tbl-biru">Curriculum Vitae</a>
                                </div>
                            </section>
                        </article>
                        </div>
                    </aside>
                    </div>
                </div>
            </div>
        </section>
        </div>

        <section id="mangrove">
            <div class="judul">
                <div class="kolom">
                    <p class="deskripsi"> <b>Mangrove</b> </p>
                    <p> Mangrove adalah jenis tanaman dikotil yang hidup di habitat air payau dan air laut. Mangrove merupakan
                        tanaman hasil dari kegiatan budidaya atau diambil dari alam. Ciri-ciri tanaman bakau ini adalah hidup
                        dengan berkelompok dalam jumlah yang banyak, memiliki akar yang besar dan memiliki buah. Di pantai
                        banyak para petani menanam tanaman bakau, karena
                        manfaatnya yang banyak bagi kelangsungan pantai ditempatnya.</p>
                </div>
                <div class="mangrove-gambar">
                    <div class="identitas-mangrove">
                        <img src="assets/AkarNafas.jpg">
                        <p> Avicennia </p>
                    </div>
                    <div class="identitas-mangrove">
                        <img src="assets/Akarlutut.jpg">
                        <p> Bruguiera </p>
                    </div>
                    <div class="identitas-mangrove">
                        <img src="assets/Ceriops.jpg">
                        <p> Ceriops </p>
                    </div>
                    <div class="identitas-mangrove">
                        <img src="assets/Akar-Tunjang.png">
                        <p> Rhizophora </p>
                    </div>
                    <div class="identitas-mangrove">
                        <img src="assets/Sonneratia.jpg">
                        <p> Sonneratia </p>
                    </div>
                </div>
            </div>
        </section>

        <section id="pelestarian">
            <div class="kolom">
                <p class="deskripsi"> Cara Pelestarian Mangrove</p>
                <h4> Langkah - langkah yang harus di lakukan adalah : </h4>
                <ul>
                    <li><b>Pembibitan Tanaman Mangrove</b> 
                        <h5>
                            Tanaman mangrove sendiri sebenarnya mampu menghasilkan bibit sendiri dari pohon induknya. Akan
                            tetapi, proses ini akan
                            membutuhkan waktu yang lama jika menunggu bibit dari pohon induk yang muncul secara alami. Karena
                            itu upaya pembibitan
                            dengan bibit yang sudah ditanam sebelumnya akan mempercepat proses pertumbuhan tanaman mangrove.
                        </h5>
                    </li>
                    <li><b>Kembali Hutan Mangrove </b>
                        <h5>
                            Cara yang bisa dilakukan untuk melestarikan hutan mangrove selanjutnya adalah tahap lanjutan dari
                            upaya pembibitan.
                            Setelah bibit yang ditanam sudah cukup umur, cara selanjutnya adalah bisa langsung dilakukan
                            penanaman bibit tersebut di
                            kawasan hutan mangrove.
                        </h5>
                    </li>
                    <li><b> Memperbaiki Lingkungan Sekitar Hutan </b>
                        <h5>
                            Kerusakan akibat polusi air dan tanah tidak hanya berdampak pada pohon mangrove saja. Terdapat ikan,
                            kepiting, udang dan
                            berbagai jenis hewan lain yang mendapatkan makanan dari perairan di sekitar hutan mangrove yang juga
                            ikut terkena
                            dampaknya.
                        </h5>
                    </li>
                    <li> <b> Budidaya Kepiting Bakau</b> 
                        <h5> Budidaya kepiting bakau merupakan suatu cara untuk mengembangkan perekonomian suatu kawasan wilayah
                            yang memiliki
                            potensi besar dalam pengembangannya dan juga bisa melestarikan hutan bakau.</h5>
                    </li>
                </ul>
            </div>
            <img src="assets/mangrove (2).png">
        </section>

    </main>

    <footer>
        <section id="contact">
            <div class="wrapper">
                <div class="footer">
                    <div class="footer-section">
                        <h6> About me Me</h6>
                        <h5> Stefany Mariyori </h5>
                        <h5> Sistem Informasi Kelautan</h5>
                        <h5> fanymariyori@gmail.com</h5>
                    </div>
                    <div class="footer-section">
                        <h6> Mangrove </h6>
                        <h5> Mangrove adalah jenis tanaman dikotil yang hidup di habitat air payau dan air laut. Mangrov merupakan tanaman hasil dari kegiatan budidaya atau diambil dari alam.</h5>
                    </div>
                    <div class="footer-section">
                        <h6> Contact us </h6>
                        <h5> UNIVERSITAS PENDIDIKAN INDONESIA</h5>
                        <h5> Sistem Informasi Kelautan</h5>
                        <h5> fanymariyori@gmail.com</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
            
                <div id="copyright">
                    <div class="wrapper">
                       &copy; 2023. <i>stefany mariyori.</i> All Rights Reservedd.
                    </div>
                </div>
            
    </footer>
 
</body>
</html>